@page
@model SynthesisWebApp.Pages.RegisterPageModel
@{
}


<!DOCTYPE html>
<html>


    <body>
    

        <p>@ViewData["Error message"] </p>
        <form class = "form" method="post">
            <div class="container">
                <label asp-for="UserRegister.UserName"><b>Username</b></label>
                <input class = "RegisterInput" asp-for="UserRegister.UserName">
                <span class="validation-message text-danger" asp-validation-for="UserRegister.UserName"></span>

                <label asp-for="UserRegister.Password"><b>Password</b></label>
                <input class = "" asp-for="UserRegister.Password" type="password">
                <span class="validation-message text-danger" asp-validation-for="UserRegister.Password"></span>

                
                <button class = "buttonLogin" type="submit">Register</button>
          </div>

        </form>


    </body>





</html>
