@page
@model SynthesisWebApp.Pages.TournamentPageModel
@{
}

<form class="form" method = "post">
    <p>@Model.Tournament.TournamentInfo</p> 
    <button class = "buttonLogin" type="submit">Join</button>

    <p> @ViewData["Error"]</p>
</form>
